@media screen and (max-width: 50rem) {
    article {
        flex-direction: column;
    }
    
    img {
        width: 15rem !important;
        height: 15rem !important;
    }
}

article {
    display: flex;
    background-color: aqua;
}

.record-details {
    vertical-align: center;
}

img {
    width: 20rem;
    height: 20rem;

    background-color: blueviolet;
}