.msg-container {
    display: none;

    position: fixed;
    top: 1rem;
    right: 1rem;

    padding: 1rem;

    background: orange;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    z-index: 1000;
}

.msg-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg-txt {
    color: #fff;
    
    font-weight: 600;
    font-size: 1rem;
}

#close-msg-btn {
    height: 1.5rem;
    width: 1.5rem;

    padding: .2rem;
    margin-left: 1rem;

    background: none;
    color: #fff;

    border: none;
    border-radius: 1rem;
    
    font-size: 1rem;
    
    cursor: pointer;
}

#close-msg-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}
